.outline-black-button2-container {
  display: flex;
  position: relative;
}
.outline-black-button2-button {
  color: var(--dl-color-secondary-700);
  cursor: pointer;
  outline: none;
  min-width: 150px;
  transition: 0.3s;
  padding-top: var(--dl-space-space-triplequarterunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.outline-black-button2-button:hover {
  transform: scale(1.02);
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #323232;
}
.home-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background-color: rgba(63, 63, 63, 0.82);
}
.home-navbar {
  width: 100%;
  height: 89px;
  display: flex;
  opacity: 1;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: 56px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  backdrop-filter: 10px;
  justify-content: space-between;
  background-color: rgba(99, 99, 99, 0);
}
.home-image {
  width: 200px;
  object-fit: cover;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link {
  color: #ffffff;
  font-size: 24px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link1 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link2 {
  color: #ffffff;
  font-size: 24px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link3 {
  color: #ffffff;
  font-size: 24px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-container1 {
  width: 100%;
  height: 522px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/picsart_23-08-08_08-31-24-031-1500w.jpg");
}
.home-hero {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home-hero-text-container {
  width: 45%;
  display: flex;
  margin-top: 173px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-fourunits);
  padding-left: 43px;
  flex-direction: column;
}
.home-heading {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text {
  font-size: 80px;
  font-family: PT Sans;
  font-weight: 900;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
}
.home-text02 {
  font-size: 70px;
  font-family: PT Sans;
  line-height: 1;
}
.home-text04 {
  color: #ffffff;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-features {
  width: 100%;
  height: 1130px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  background-color: #D9D9D9;
}
.home-heading-container {
  width: 45%;
  height: 127px;
  display: flex;
  align-self: center;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text05 {
  color: var(--dl-color-gray-black);
  width: 324px;
  font-size: 55px;
  align-self: center;
  margin-top: 50px;
  text-align: center;
  font-family: PT Sans;
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: 20px;
  text-transform: none;
  text-decoration: none;
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container3 {
  display: flex;
  position: relative;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  border-radius: var(--dl-radius-radius-radius1);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-size: cover;
  justify-content: center;
  background-image: url("public/picsart_23-07-31_19-09-40-178-1500w.jpg");
  background-position: center;
}
.home-container3:hover {
  transform: scale(1.04);
}
.home-container4 {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,.4);
  border-radius: var(--dl-radius-radius-radius1);
}
.home-container5 {
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text08 {
  color: var(--dl-color-gray-white);
  max-width: 200px;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text13 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-container6 {
  width: 100%;
  height: 229px;
  margin: var(--dl-space-space-unit9);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-text14 {
  color: var(--dl-color-gray-black);
  font-size: 55px;
  align-self: flex-end;
  text-align: center;
  font-family: PT Sans;
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: none;
  text-decoration: none;
}
.home-about {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-max-content-width-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-logo-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-logo {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-logo1 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-logo2 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-logo3 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-logo4 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-button {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: var(--dl-color-gray-black);
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator5 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-subscribe {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-section-separator6 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-icon2 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-icon4 {
  width: 24px;
  height: 24px;
}
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon6 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 991px) {
  .home-navbar {
    background-color: rgba(0, 0, 0, 0);
  }
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-hero-text-container {
    width: 80%;
    align-items: center;
    padding-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading {
    color: #ffffff;
    align-self: flex-start;
    text-align: left;
  }
  .home-text {
    text-align: center;
  }
  .home-text01 {
    font-size: 80px;
    font-family: PT Sans;
    line-height: 1;
  }
  .home-text02 {
    font-size: 70px;
    font-family: PT Sans;
    line-height: 1;
  }
  .home-text04 {
    align-self: flex-start;
    text-align: left;
  }
  .home-heading-container {
    margin-right: 45px;
  }
  .home-text05 {
    text-align: center;
    margin-left: 48px;
  }
  .home-container6 {
    width: 100%;
  }
  .home-text14 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    position: relative;
  }
  .home-links-container {
    display: none;
  }
  .home-hero-text-container {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .home-heading {
    color: #ffffff;
  }
  .home-text01 {
    font-size: 80px;
    font-family: PT Sans;
    line-height: 1;
  }
  .home-text02 {
    font-size: 70px;
    font-family: PT Sans;
    line-height: 1;
  }
  .home-heading-container {
    width: 100%;
    margin-right: 29px;
  }
  .home-text05 {
    color: var(--dl-color-gray-black);
    font-size: 55px;
    font-family: PT Sans;
    font-weight: 900;
    line-height: 1.22;
    text-transform: none;
    text-decoration: none;
  }
  .home-container2 {
    margin-top: 0px;
    flex-direction: column;
  }
  .home-container6 {
    margin-top: 88px;
  }
  .home-text14 {
    color: var(--dl-color-gray-black);
    font-size: 55px;
    font-family: PT Sans;
    font-weight: 900;
    line-height: 1.22;
    text-transform: none;
    text-decoration: none;
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-text21 {
    text-align: center;
  }
  .home-subscribe {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-navbar {
    height: 86px;
  }
  .home-image {
    width: 128px;
    height: 56px;
  }
  .home-hero-text-container {
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-heading {
    color: #ffffff;
  }
  .home-heading-container {
    width: 178px;
    margin-right: 27px;
  }
  .home-text14 {
    color: var(--dl-color-gray-black);
    font-size: 55px;
    font-family: PT Sans;
    font-weight: 900;
    line-height: 1.22;
    padding-top: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text17 {
    font-size: 40px;
  }
  .home-text18 {
    font-size: 40px;
  }
  .home-text19 {
    font-size: 40px;
  }
}
